/*Created with Adobe RoboHelp.*/
.RH-LAYOUT-CENTERPANEL-topic-box {
  font-family: Calibri;
  font-size: 14px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1, .RH-LAYOUT-FOOTER-container h1 {
  font-weight: bold;
  font-size: 32px;
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  font-family: 'Times New Roman';
  color: #0000FF;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2, .RH-LAYOUT-FOOTER-container h2 {
  font-weight: bold;
  font-size: 24px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h3, .RH-LAYOUT-FOOTER-container h3 {
  font-weight: bold;
  font-size: 19px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h4, .RH-LAYOUT-FOOTER-container h4 {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h5, .RH-LAYOUT-FOOTER-container h5 {
  font-weight: bold;
  font-size: 13px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h6, .RH-LAYOUT-FOOTER-container h6 {
  font-weight: bold;
  font-size: 11px;
}
.RH-LAYOUT-CENTERPANEL-topic-box p, .RH-LAYOUT-FOOTER-container p {
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.expandspot, .RH-LAYOUT-FOOTER-container a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.expandtext, .RH-LAYOUT-FOOTER-container span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.dropspot, .RH-LAYOUT-FOOTER-container a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.glossterm, .RH-LAYOUT-FOOTER-container a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.glosstext, .RH-LAYOUT-FOOTER-container span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol, .RH-LAYOUT-FOOTER-container ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul, .RH-LAYOUT-FOOTER-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-caption, .RH-LAYOUT-FOOTER-container a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.minitoc-caption, .RH-LAYOUT-FOOTER-container p.minitoc-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list, .RH-LAYOUT-FOOTER-container ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list ol, .RH-LAYOUT-FOOTER-container ol.minitoc-list ol {
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a, .RH-LAYOUT-FOOTER-container a {}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-list-item, .RH-LAYOUT-FOOTER-container a.minitoc-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box div.breadcrumbs, .RH-LAYOUT-FOOTER-container div.breadcrumbs {}
.RH-LAYOUT-CENTERPANEL-topic-box span.breadcrumbs-home-prefix, .RH-LAYOUT-FOOTER-container span.breadcrumbs-home-prefix {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-home, .RH-LAYOUT-FOOTER-container a.breadcrumbs-home {}
.RH-LAYOUT-CENTERPANEL-topic-box .breadcrumbs-separator, .RH-LAYOUT-FOOTER-container .breadcrumbs-separator {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-link, .RH-LAYOUT-FOOTER-container a.breadcrumbs-link {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-topic, .RH-LAYOUT-FOOTER-container a.breadcrumbs-topic {}
.RH-LAYOUT-CENTERPANEL-topic-box p.seealso-caption, .RH-LAYOUT-FOOTER-container p.seealso-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.seealso-list, .RH-LAYOUT-FOOTER-container ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.seealso-list-item, .RH-LAYOUT-FOOTER-container a.seealso-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box p.reltopics-caption, .RH-LAYOUT-FOOTER-container p.reltopics-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.reltopics-list, .RH-LAYOUT-FOOTER-container ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.reltopics-list-item, .RH-LAYOUT-FOOTER-container a.reltopics-list-item {}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Disc, .RH-LAYOUT-FOOTER-container ul.Disc {
  list-style-type: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Circle, .RH-LAYOUT-FOOTER-container ul.Circle {
  list-style-type: circle;
}
.RH-LAYOUT-CENTERPANEL-topic-box figure, .RH-LAYOUT-FOOTER-container figure {
  margin-left: 0 px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.LowerAlpha, .RH-LAYOUT-FOOTER-container ol.LowerAlpha {
  list-style: lower-alpha;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.Decimal, .RH-LAYOUT-FOOTER-container ol.Decimal {
  list-style: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric {
  list-style: decimal;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item4;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "(" counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item5;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "(" counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item6;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "(" counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering, .RH-LAYOUT-FOOTER-container ol.NestedNumbering {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item1;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li:before, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol {
  list-style: none;
  --prefix-size: 60.1px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item2;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li:before {
  counter-increment: item2;
  content: counter(item1, decimal)"." counter(item2, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li {
  --prefix-size: 60.1px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol {
  list-style: none;
  --prefix-size: 90.1px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item3;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item1, decimal)"." counter(item2, decimal)"." counter(item3, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li {
  --prefix-size: 90.1px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol {
  --prefix-size: 120.2px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item4;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li {
  --prefix-size: 120.2px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: counter(item1, decimal)"." counter(item2, decimal)"." counter(item3, decimal)"." counter(item4, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 150.2px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item5;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 150.2px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: counter(item1, decimal)"." counter(item2, decimal)"." counter(item3, decimal)"." counter(item4, decimal)"." counter(item5, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol {
  --prefix-size: 180.3px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item6;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol>li, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 180.3px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol>li:before, .RH-LAYOUT-FOOTER-container ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: counter(item1, decimal)"." counter(item2, decimal)"." counter(item3, decimal)"." counter(item4, decimal)"." counter(item5, decimal)"." counter(item6, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare, .RH-LAYOUT-FOOTER-container ol.RoundSquare {
  list-style: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol {
  list-style: square;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol, .RH-LAYOUT-FOOTER-container ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
.RH-LAYOUT-CENTERPANEL-topic-box .Note, .RH-LAYOUT-FOOTER-container .Note {
  font-family: 'Times New Roman';
  color: #000000;
  text-align: left;
  background-color: #00FF00;
  border-left-style: dotted;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
}